# dependencies
node_modules/

# build output (keep root /assets if you want it tracked)
dist/

# archives
*.zip

# macOS
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
.env*.local
